$blue: #05C2DF;
$grey: #929292;

.text-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 120px;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: 150px;

    h1 {
        font-size: 50px;
        white-space: nowrap;

        .first-h1 {
            color: white;
            font-weight: bold;
        }

        .second-h1 {
            font-weight: normal;
            color: $blue;
        }
    }

    p {
        color: $grey;
        margin-bottom: 1rem;
        font-size: px;
        max-width: 100%;
        width: 50%;
    }
} 