$bg-gradient: linear-gradient(135deg, #191536, #000000);
$blue: #05C2DF;
$blue-dark: #05040B;
$gray-dark: #2F2F2F;
$gray: #929292;
$white: #FFFFFF;

$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-s-min-width: 1280px;
$desktop-m-min-width: 1920px;

