// MOBILE
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  width: 100%;

  &__text-block {
    &-title {
      margin-bottom: 1rem;
    }

    &-h1 {
      font-size: 18px;
      white-space: normal;
      
      &.--first {
        color: white;
        font-weight: bold;
      }

      &.--second {
        color: $blue;
        font-weight: normal;
      }
    }

    &-description {
      margin-left: 1.5rem;
      color: $gray;
      font-size: 14px;
      margin-bottom: 1rem;
      max-width: 80%;
    }
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;

    .text-wrapper__image-home {
      width: 70%;
      max-width: 400px;
      height: auto;
    }
  }
}

// TABLET
@include on-tablet {
  .text-wrapper {
    padding: 1.5rem;

    &__text-block-title {
      &-h1 {
        font-size: 24px;
      }
    }

    &__text-block-description {
      font-size: 16px;
    }

    &__image {
      .text-wrapper__image-home {
        width: 50%;
      }
    }
  }
}

// DESKTOP
@include on-desktop-s {
  .text-wrapper {
    padding: 2rem;

    &__text-block-title {
      &-h1 {
        font-size: 36px;
      }
    }

    &__text-block-description {
      font-size: 20px;
      max-width: 60%;
      text-align: left;
    }

    &__image {
      .text-wrapper__image-home {
        width: 40%;
      }
    }
  }
}
