.tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
  
    &__title {
      font-size: 25px;
      margin-top: 50px;
      margin-right: 20px;
      align-self: flex-end;
      white-space: nowrap;
      display: inline-block;
  
      &.--first {
        color: white;
        font-weight: bold;
      }
  
      &.--second {
        color: $blue;
        font-weight: normal;
      }
    }
  
    &-wheel {
      align-self: center;
      width: 4px;
      height: 44px;
      object-fit: cover;
    }
  }

  @include on-tablet{
    .tech-container {
        margin-top: -60px;
      
        &__title {
          font-size: 50px;
          margin-top: 70px;
          margin-right: 12px;
        }
      
        &-wheel {
          width: 197px;
          height: 194px;
        }
      }
}

@include on-desktop-s{
    .tech-container {
        margin-top: 100px;
      
        &__title {
          font-size: 50px;
          margin-top: 100px;
          margin-right: 40px;
        }
      
        &-wheel {
          width: 197px;
          height: 194px;
        }
      }
}
  
  .tech-container{
    &__text {
        position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 50px;

      &-item {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        position: absolute;
        text-align: center;

        &.--d1 {
          margin-top: -100px;
          right: 30px;
        }

        &.--d2 {
          margin-top: 60px;
          left: 40px;
        }

        &.--d3 {
          margin-top: 90px;
          right: 15px;
        }

        &-title {
          font-size: 20px;
          margin-top: 5px;
          //margin-right: 20px;
          align-self: center;
          white-space: nowrap;
          color: white;
          font-weight: bold;
          margin-bottom: 4px;
        }

        &-description {
          font-size: 14px;
          color: $gray;
          max-width: 100%;
          width: 100%;
          line-height: 1.5;
          align-self: flex-end;
        }
      }
    }
  }

  @include on-tablet{
    .tech-container{
      &__text {
          position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 50px;
  
        &-item {
          display: flex;
          flex-direction: column;
          margin-top: 50px;
          position: absolute;
          text-align: center;
  
          &.--d1 {
            margin-top: -160px;
            right: 150px;
          }
  
          &.--d2 {
            margin-top: -180px;
            left: 230px;
          }
  
          &.--d3 {
            margin-top: 80px;
            left: -75px;
          }
  
          &-title {
            font-size: 40px;
            margin-top: 5px;
            //margin-right: 20px;
            align-self: center;
            white-space: nowrap;
            color: white;
            font-weight: bold;
            margin-bottom: 4px;
          }
  
          &-description {
            font-size: 24px;
            color: $gray;
            max-width: 100%;
            width: 100%;
            line-height: 1.5;
            align-self: flex-end;
          }
        }
      }
    }
  }